<!-- 綁定表單名稱 -->
  <form [formGroup]="applyForm">

      <!-- formControlName 為剛剛建立的表單控制元件名稱 -->
    <mat-form-field appearance="outline" class="mr-2">
      <mat-label>公司名稱</mat-label>
      <input matInput type="text" formControlName="name" [(ngModel)]="name" class="w-full mb-3">
    </mat-form-field>

    <mat-form-field appearance="outline" class="mr-2">
      <mat-label>統一編號</mat-label>
      <input matInput type="number" formControlName="email" [(ngModel)]="email" class="w-full mb-3">
    </mat-form-field>

    <mat-form-field appearance="outline" class="mr-2">
      <mat-label>創建人</mat-label>
      <input matInput type="text" formControlName="password" [(ngModel)]="password" class="w-full mb-3">
    </mat-form-field>
  </form>

<button mat-button (click)="submit()" color="primary">Primary</button>
